{% extends 'base.html.twig' %}

{% block title %}Profile - SEF ESCRIME{% endblock %}

{% block body %}
<div class="container mt-5">
    <h1>Votre Profil</h1>
    <p>Bienvenue dans votre espace personnel.</p>
    <!-- Affiche ici les informations du profil -->
</div>
{% endblock %}
